@media (min-width: 1024px) {

    .container{
        max-width: 1140px;
    }

    header .burgher{
        display: none;
    }

    header .menu{
        display: flex;
    }

/* get-app */

    .get-app .card{
        height: 350px;
    }

    .get-app .card:first-child{
        flex-wrap: wrap;    
    }

    .get-app .card:first-child .text{
        width: 50%;
    }

    .get-app .card .img{
        height: 100%;
    }

    .get-app .card .img img{
        height: 90%;
    }

/* jumbotron */
   .jumbotron .container{
        width: 900px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        align-items: flex-end;
   }

   .jumbotron .container > *{
        width: calc(100% / 2);
   }

   .jumbotron .strategic-planning{
    padding-right: 60px;
   }


   .jumbotron .card{
    width: 404px;
    border-radius: 40px;
   }

   .jumbotron .card img{
    width: 80%;
    
   }

   /* benefits */

   .benefits .card{
    width: calc(100% / 3 - 60px / 3);
    }
}