@media (min-width: 1024px) {

    .container{
        max-width: 1140px;
    }

    header .burgher{
        display: none;
    }

    header .menu{
        display: flex;
    }

    .get-app .card{
        height: 350px;
    }

    .get-app .card:first-child{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .get-app .card .img{
        height: 100%;
        width: 50%;
        position: relative;
    }

    .get-app .card .img img{
        position: absolute;
        bottom: 0;
        object-fit: cover;
    }

    .get-app .card .text,.get-link{
        width: 50%;
    }

   .jumbotron .container{
        flex-direction: row;
        justify-content: center;
   }

   .jumbotron .container > *{
        width: calc(90% / 2);
   }

   .benefits .card{
    width: calc(100% / 3);
    }
}