*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main > *{
    margin: 50px 0;
}



footer{
    height: 250px;
}

/* card */
.card{
    border-radius: 20px;
}
/* card */

/* link */

.link{
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: black;
}
/* /link */

/* tools */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid green;
}

.center-in{
    text-align: center;
}
/* /tools */

.container{
    width: 90%;
    display: flex;
    margin: 0 auto;
}

/* header */
header{
    background-color: rgb(0, 132, 253);
    color: white;
    font-size: 16px;
}

header .container{
    height: 100%;
    justify-content: space-between;  
    align-items: center; 
}

header .container .logo,.burgher{
    height: 100%;
}

header .logo{
    width: 80px;
    padding: 1rem 0;
}


header .burgher i{
    font-size: 26px;
}

header .menu{
    display: none;
    font-weight:300;
}

header .menu ul{
    list-style-type: none;
    display: flex;
}

.menu li{
    padding: 0 1rem;
}

.menu li a{

}
/* /header */

/* main */

main .card{
    height: 100px
}

main .container{
    display: flex;
    flex-direction: column;
}

/* jumbotron */
.jumbotron .strategic-planning{
    height: 100px;
}

/* testimonials */

.testimonial-top{
    height: 100px;
}

/* benefits */

.benefits-top{
    height: 100px;
}

/* about-us */

.us-text{
    height: 100px;
}

.us-img{
    height: 100px;
}

/* /main */