@media (min-width: 768px) {

    .card .p{
        font-size: 1rem;
    }
    
    /* get app */
    main .get-app .cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;;
    }

    .get-app .card{
        width: calc(100% / 3 - 25px);
    }

    .get-app .card a .button{
        width: 220px;
    }
    .get-app .card .img{
        align-self:auto;
        max-width: 250px;
    }
    .get-app .card .img img{
        object-fit: fill;
    }

    .get-app .cards .card:first-child{
        width: calc(100% / 3 * 2 - 25px / 2);
    }
    /* /get app */


    /* jumbotron */

    .jumbotron .container{
        flex-direction: row;
    }

    /* testimonial */

    .testimonials .card{
        flex-direction: row;
    }

    
    .testimonials .card .text{
        padding-left: 30px 30px;
    }
    
    .testimonials .card .text h4{
        text-align: left;
    }

    /* benefits */
    

    .benefits .cards{
        flex-flow: row wrap;
    }

    .benefits .card{
        width: calc(100% / 2 - 15px);
    }
    /* /benefits */

    /* about-us */
    
    .about-us .container{
        flex-direction: row;
    }
    .about-us .us-text{
        width: calc(100% / 3 * 2);
        padding-right: 90px;
    }

    .about-us h2{
        font-size: 60px;
    }
    .about-us .us-img{
        width: calc(100% / 3);
    }

    

    .us-img img{
        width: 240px;
    }

    /* /about-us */
}